* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 138px;
}

body {
  padding-top: 100px;
  background-color: var(--color-background);
}

/* Wiretap (uigradients.com) */ 
.theme-bron {
  --color-primary: #8A2387;
  --color-secondary: #E94057;
  --color-tertiary: #F27121;
  --color-background: #FFFAFA;
  --color-card: #FFFAFA;
  --font-light: #ffffff;
  --font-dark: #444444;
}

/* Cosmic Fusion (uigradients.com) */
.theme-yan {
  --color-primary: #ff00cc;
  --color-secondary: #991ab3;
  --color-tertiary: #333399;
  --color-background: #FFFAFA;
  --color-card: #FFFAFA;
  --font-light: #ffffff;
  --font-dark: #444444;
}

/* Wedding Day Blues (uigradients.com) */
.theme-emily {
  --color-primary: #40E0D0;
  --color-secondary: #FF8C00;
  --color-tertiary: #ff0080;
  --color-background: #FFFAFA;
  --color-card: #FFFAFA;
  --font-light: #ffffff;
  --font-dark: #444444;
}

/* Made up gradient */
.theme-bek {
  --color-primary: #B812CB;
  --color-secondary: #39549e;
  --color-tertiary: #298007;
  --color-background: #FFFAFA;
  --color-card: #FFFAFA;
  --font-light: #ffffff;
  --font-dark: #444444;
}

/* Set colours for Colour Theme change buttons. Update if personal colour themes change */
#bron-button {
  background: linear-gradient(#E94057, #8A2387);
}

#yan-button {
  background: linear-gradient(#ff00cc, #991ab3);
}

#emily-button {
  background: linear-gradient(#FF8C00, #ff0080);
}

#bek-button {
  background: linear-gradient(#B812CB, #39549e);
}

h1 {
  color: var(--color-tertiary);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

h2, h3, h4, h5, h6, p {
  color: var(--font-dark);
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

#newsletter p, footer p {
  color: var(--font-light);
}

.gradient {
background: var(--color-secondary);
background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary));
}

.col-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
 
}

/* Colour Theme change buttons in the header */
.button-round {
  border: none;
  border-radius: 50%;
  padding: 0.7rem;
  text-decoration: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  
}

/* Colour Theme change buttons in about page */
.button-rect {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  text-decoration: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: var(--font-light);
}

.navbar-brand {
  font-size: 40px; 
  color: var(--font-light);
}

.dropdown-menu {
  color: var(--font-light);
  background: var(--color-secondary);
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary));
  border-style: none;
}

.dropdown-item {
  color: var(--font-light);
}


li.nav-item > a {
  color: var(--font-light) !important;
  font-size: 1.4rem;
}

li.nav-item > a:hover, a:active {
  border-bottom: solid;
  border-bottom-width: 2px;
  color: var(--font-light);
}

/* pushes read more buttons to bottom of cards. Doesn't work on columns shorter than others? */
a {
  margin-top: auto;
  color: var(--font-light);
}

.read-more, .read-more:visited {
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  color: var(--color-secondary);
}

.read-more:hover {
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  color: var(--font-light);
}

.read-more:focus {
  background: var(--color-primary);
  outline: 4px solid var(--color-secondary);
  color: var(--font-light);
}

.read-more:active {
  background: var(--color-secondary);
  border: 1px solid var(--color-tertiary);
  color: var(--font-light);
}

.navbar, footer, #newsletter {
  padding: 3.2rem 0;
  background-color: var(--color-primary);
  background-image: linear-gradient(54deg, var(--color-primary), var(--color-secondary), var(--color-tertiary));
  color: var(--font-light);
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);  
}

footer a {
  text-decoration: none;
  color: var(--font-light) !important;
}

ul {
  padding-left: 0;
  list-style-type: none;
  ;
}

.social-btn {
  display: flex;
  justify-content: space-around;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* Forces images to fill space and crop upon resizing */
.card-img-top {
  width: 100%;
  object-fit: cover;
}

/* Forces images to fill space and crop upon resizing */
.img-fluid {
  height: 100%;
  object-fit: cover;
}

.newsletter-title {
  font-size: 3.5rem;
}

.form-check-input:checked{
  background-color: var(--color-primary) !important;
  border: 0;
}

.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--color-primary) !important;
}

.form-check-label a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.form-control:focus, .label::after, label.form-control:focus, .form-control::after, .form-control:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--color-primary) !important;
}

.btn-secondary, .btn-secondary:visited{
  background-color: var(--color-primary);
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--color-secondary) !important;
}

.btn-secondary:active {
  background-color: var(--color-tertiary) !important;
}

/* .btn-secondary:active {
  background-color: var(--color-tertiary) !important;
} */




.profile {
  border: 5px solid var(--color-secondary);
  border-radius: 20px;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  justify-content: center;
  overflow: auto;
}

.card {
  border: 1px solid var(--color-primary);
  background-color: var(--color-card);
}


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .card-img-top {
    height: 50vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .card-img-top {
    height: 40vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 35vw;
  }
  .more-news-img {
    height: 15vw;

  }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {} */


/* Article elements */
p.summary-text{
  font-weight: bold;
  font-size: large;
}

p.image-caption{
  font-size: small;
}